/* header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
} */
.bio {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: #250358;
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}
.bio img {
  width: 15rem;
  border-radius: 50%;
  border: 2px solid black;
  /* display: flex; */
  max-width: 15rem;
  object-fit: cover;
}

.bio-info {
  flex: 1; /* Allow text area to grow horizontally */
  margin: 2rem;
}

.bio-info h1 {
  margin: 1;
  font-size: 1.5rem;
  display: flex;
}

.bio-info p {
  margin: 0;
  text-align: left;
}

@media (max-width: 768px) {
  .bio {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .bio img {
    margin-right: 0; /* Remove margin on small screens */
  }

  .bio-info {
    margin-top: 10px; /* Add space between picture and text on small screens */
  }
}
